/*
the base for the css for the table was found at apple
https://developer.apple.com/library/content/samplecode/TicTacToe/Listings/main_css.html#//apple_ref/doc/uid/DTS40010309-main_css-DontLinkElementID_4
*/
table {
  margin-left:auto; 
  margin-right:auto; 
  width: 551px; 
  -webkit-user-select: none; 
}


td {
    height: 175px;
    width: 175px;
    text-align: center;
    font-size: 120px;
    border: 2px solid #cccccc;
    -webkit-border-radius: 10px;
} 


h1 {
  font-size:40px;
  text-align:center;
}



img {
  height: 170px;
    width: 170px;
}
li {
  display:inline;
  color:blue;
  margin-top:10%;
  margin-right:5%;
  margin-left:12%;
  font-size:20px;
  text-align:center;
}
li p {
  display:inline;
}

.players {
  height:50px;
  width:50px;
  display:inline;
}

#playAgain {
  text-align:center;
}
button {
  text-align:center;
}